
body {
  font-family: 'Inter', sans-serif;
  background-color: #1f1f1f;
  color: #f5f5f5;
  margin: 0;
  padding: 0;
}

.carrinho-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  background-color: #c0c0c0;
  padding: 20px;
  border-radius: 10px;
  max-width: 1100px;
  margin: 30px auto;
}


.carrinho-produtos {
  background: #b1b1b1;
  border-radius: 10px;
  padding: 15px;
  max-height: 70vh;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #444 #2b2b2b;
}

.carrinho-produtos::-webkit-scrollbar {
  width: 8px;
}
.carrinho-produtos::-webkit-scrollbar-thumb {
  background-color: #444;
  border-radius: 10px;
}


.produto-card {
  display: flex;
  align-items: center;
  gap: 15px;
  background: #7a7a7a;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 8px;
  transition: transform 0.2s ease;
}

.produto-card:hover {
  transform: translateY(-2px);
  background-color: #3b3b3b;
}


.produto-img {
  width: 90px;
  height: 90px;
  border-radius: 6px;
  object-fit: cover;
}


.produto-info {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.produto-info h3 {
  font-size: 15px;
  margin: 0 0 5px 0;
  color: #fff;
}

.produto-info p {
  margin: 2px 0;
  font-size: 13px;
  color: #ccc;
}


.quantidade {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 8px 0;
}

.quantidade button {
  width: 26px;
  height: 26px;
  border: none;
  background: #444;
  color: #fff;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s;
}

.quantidade button:hover {
  background: #666;
}

.remover-btn {
  background: #ff3b30;
  border: none;
  color: white;
  padding: 6px 10px;
  border-radius: 5px;
  cursor: pointer;
  align-self: flex-start;
  font-size: 12px;
  transition: background 0.2s;
}

.remover-btn:hover {
  background: #ff5c5c;
}


.carrinho-resumo {
  background-color: #6b6b6b;
  border-radius: 10px;
  padding: 20px;
  height: fit-content;
  position: sticky;
  top: 20px;
}

.carrinho-resumo h3 {
  font-size: 18px;
  border-bottom: 1px solid #444;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

.carrinho-resumo .linha {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  color: #ccc;
}

.carrinho-resumo .pix {
  color: #4caf50;
  font-weight: 600;
}

.carrinho-resumo .total {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  margin-top: 15px;
}

.parcelamento {
  font-size: 12px;
  color: #aaa;
  margin-bottom: 20px;
}


.btn-finalizar {
  width: 100%;
  background: #28a745;
  color: white;
  border: none;
  padding: 12px;
  font-size: 15px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  transition: background 0.3s;
}

.btn-finalizar:hover {
  background: #34d058;
}


@media (max-width: 850px) {
  .carrinho-container {
    grid-template-columns: 1fr;
  }

  .carrinho-resumo {
    position: static;
  }
}
